@model MovieGallery.Models.Movie

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Model.Title + " Movie Detail";
}

<h1>@Model.Title</h1>
<h3>@Model.ReleaseDate.ToString("MMMM dd, yyyy")</h3>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Actors.Length > 0)
{
	<h5>Actors:</h5>
	<div>
		<ul>
			@foreach (var actor in Model.Actors)
			{ 
				<li>@actor.Name: @actor.Role</li>
			}
		</ul>
	</div>
}